:root {
  --normal-font-weight: 400;
  --bg-color: #dcd8d0;
  --normal-textcolor: #00f;
  --sort-bgcolor: #28a8e0;
  --sort-hover: #1b8aba;
  --modal-bgcolor: #f5f5dc;
  --modal-body: #e6e6fa;
  --nav-bgcolor: #e3f2fd;
  --button-bgcolor: #eedcc5;
  --button-visitedcolor: #ead1dc;
}

body {
  background-color: var(--bg-color);
  color: var(--normal-textcolor);
  font-size: 16px;
  font-family: 'Satisfy', cursive;
  font-weight: var(--normal-font-weight);
  text-align: center;

  /* set padding top as navigation bar is fixed */
  padding-top: 70px;
}

.d-inline-block {
  height: 40px;
  width: 40px;
}

.navbar {
  background-color: var(--nav-bgcolor);
  color: var(--normal-textcolor);
}

.hidden {
  display: none;
}

.list {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 245px);
  gap: 5px;
}

.list-group-item {
  width: 245px;
  margin: 0 auto;
  padding: 0.25em;
}

.btn-primary {
  background-color: var(--button-bgcolor);
  color: var(--normal-textcolor);
}

.btn_visited {
  background-color: var(--button-visitedcolor);
  color: inherit;
}

.modal-header,
.modal-footer {
  background-color: var(--modal-bgcolor);
  color: var(--normal-textcolor);
}

.modal-body {
  background-color: var(--modal-body);
  color: var(--normal-textcolor);
}
