:root {
  --normal-font-weight: 400;
  --heading-font-weight: 700;
  --bg-color: #dcd8d0;
  --normal-textcolor: #00f;
  --para-textcolor: #a52a2a;
  --spl-pokemoncolor: #800000;
  --btn-textcolor: #000;
}

body {
  background-color: var(--bg-color);
  color: var(--normal-textcolor);
  font-size: 16px;
  font-family: 'Satisfy', cursive;
  font-weight: var(--normal-font-weight);
}

h1 {
  font-weight: var(--heading-font-weight);
  text-decoration: underline;
  font-size: 28px;
  margin-left: 20px;
}

p {
  background-color: inherit;
  color: var(--para-textcolor);
}

.pokemon-list {
  list-style: circle;
}

.btn-pokemon {
  background-color: inherit;
  color: var(--btn-textcolor);
  text-align: center;
  display: inline-block;
  padding: 5px;
  margin: 4px 2px;
  border-radius: 5px;
}

.spl_pokemon {
  background-color: inherit;
  color: var(--spl-pokemoncolor);
}
