:root {
  --normal-font-weight: 400;
  --bg-color: #dcd8d0;
  --normal-textcolor: #00f;
  --sort-bgcolor: #28a8e0;
  --sort-hover: #1b8aba;
  --modal-bgcolor: #f5f5dc;
  --modal-body: #e6e6fa;
  --nav-bgcolor: #e3f2fd;
  --button-bgcolor: #deb887;
}

body {
  background-color: var(--bg-color);
  color: var(--normal-textcolor);
  font-size: 16px;
  font-family: 'Satisfy', cursive;
  font-weight: var(--normal-font-weight);
  text-align: center;

  /* set padding top as navigation bar is fixed */
  padding-top: 70px;
}

.navbar {
  background-color: var(--nav-bgcolor);
  color: var(--normal-textcolor);
}

/* to set logo dimensions */
.d-inline-block {
  width: 30px;
  height: 30px;
}

.navbar-text {
  flex-grow: 1;
}

.hidden {
  display: none;
}

.list {
  padding: 5px;
}

.list-group-item {
  width: 250px;
  margin: 0 auto;
  padding: 0.05em;
}

.btn-primary {
  background-color: var(--button-bgcolor);
  color: var(--normal-textcolor);
}

.modal-header,
.modal-footer {
  background-color: var(--modal-bgcolor);
  color: var(--normal-textcolor);
}

.modal-body {
  background-color: var(--modal-body);
  color: var(--normal-textcolor);
}
